<!DOCTYPE html>
<html>
<style>
.profile-head h1{
    color: #333;
    text-align: center;
    font-size: 40px;
}
.profile-head h2{
    color: #333;
    text-align: center;
}
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">
              <div class="field">
                <div class="profile-head">
                                    <h1 style="background-color:rgb(255, 128, 0);">
                                                                                                                         مدرسه دانش



                                    </h1>
                                    <h2>
                                                                                  .دانش آموز عزیز برای ورود اطلاعات خود را وارد نمایید
                                    </h2>
                        </div>
                <label class="label">شماره دانش آموزی</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="StudentID" placeholder="username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">شماره ملی</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="NationalID" placeholder="password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                                                                                                                                                ورود
                  </button>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
